<div class="flex px-4 py-3 rounded-md bg-primary-100 dark:bg-primary-900">
  <span class="text-primary-400 ltr:pr-3 rtl:pl-3">
    {{ partial "icon.html" (.Get 0 | default "triangle-exclamation") }}
  </span>
  <span class="dark:text-neutral-300">
    <strong>Disclaimer:</strong> These are my personal notes, published "as-is"
    without warranty or guarantee of any kind. Use at your own risk. Licensed
    <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/"
      >CC BY-NC-SA 4.0</a
    >.
  </span>
</div>
